.table
	height 100px
	background #F3FBFF
	display flex
	align-items center
	flex-direction row
	.table-left
		display flex
		flex-direction row
		flex 1
		padding-left 24px
		li
			display flex
			color #818D9D
			font-size 26px
			width 120px
			justify-content center
			align-items center
		li:nth-child(1)
			width 135px
	.icon-answer
		margin-right 9px
		margin-left 0
.table-li-no-height
	display flex
	align-items center
	padding 24px 0 24px 24px
	flex-direction row
	.table-li-left
		display flex
		flex-direction row
		align-items center
		justify-content space-around
		color #818D9D
		font-size 26px
		li
			width 120px
			display flex
			flex-direction row
			align-items center
			justify-content center
		.school-name
			width 135px
			line-height 40px
			overflow hidden
			text-overflow ellipsis
			word-break break-all
			word-wrap break-word
			display -webkit-box
			-webkit-line-clamp 2
			-webkit-box-orient vertical
		.par-sgin-rate
			display flex
			flex-direction column
			line-height 40px
			.btm
				font-size 22px
	.icon-right
		margin-right 20px
