.order-trend
	background #fff
	margin-bottom 20px
	.chart-line
		width 100%
		height 428px
		margin-bottom 40px
	.day-add
		height 40px
		background #fff
		line-height 40px
		font-size 28px
		display flex
		align-items center
		padding-left 20px
		span
			color #818d9d
		em
			color #05ACFF
	.v-ring
		display flex
		.vr-left
			width: 450px
			height: 324px
	.vr-right
		flex 1
		height 324px
		ul
			display flex
			height 324px
			justify-content center
			flex-direction column
			li
				display flex
				width 100%
				height 65px
				line-height 65px
				span
					color #818d9d
					em
						color #05ACFF
					em.active
						color #FF5E68
				span:nth-child(1)
					width 40%
					text-align right
					padding-right 20px
					box-sizing border-box
					font-size 24px
				span:nth-child(2)
					width 60%
					text-align right
					padding-right 20px
					box-sizing border-box
					font-size 24px
.alert
	width 590px
	height 220px
	position fixed
	z-index 99
	-webkit-transform translateZ(0)
	background rgba(109,109,109,0.90)
	border-radius 10px
	left 50%
	top 50%
	margin-left -295px
	margin-top -100px
	box-sizing border-box
	ul
		padding 35px 30px
		text-align left
		li
			height 40px
			line-height 40px
			font-size 28px
			color #FFFFFF
