.brief-info
	color #fff
	.today-sum-title
		margin-top 50px
		font-size 28px
	.today-sum
		display flex
		align-items center
		justify-content center
		height 90px
		font-size 56px
		margin 10px 0 45px
		.icon-rmb
			font-size 32px
			font-style normal
			margin-right 10px
	.pay-tab
		display flex
		justify-content space-around
		li
			flex: 1
			display flex
			flex-direction column
			span
				font-size 28px
			em
				font-size 44px
				margin-top 15px
.list
	margin-top: 20px
	background #fff
	li
		height 100px
		line-height 100px
		padding 0 30px
		display flex
		align-items center
		justify-content space-between
		border-bottom 2.1px solid #eee
		span:nth-child(1)
			width 30%
			color #333
			font-size 32px
			text-align left
			i
				background-size 100% 100%
				display inline-block
				margin-right 20px
			.icon-order
				width 26px
				height 27px
				background-image url("../../assets/images/icon_order1.png")
			.icon-garden
				width 30px
				height 31px
				background-image url("../../assets/images/icon_school.png")
			.icon-active
				width 30px
				height 24px
				background-image url("../../assets/images/icon_active.png")
			.icon-lively
				width 30px
				height 24px
				background-image url("../../assets/images/icon_lively.png")
		span:nth-child(2)
			font-size 28px
			color #BBBBBD
			display flex
			flex 1
			align-items center
			justify-content flex-end
			i.icon-right
				margin-left 20px
				margin-right 0
			em
				color #3AABF7
.container-in
	width: 750px
	margin 0 auto
	height: 650px
	background: url("../../assets/images/bg_report.png") no-repeat center
	background-size 100% 100%
.header{
	font-size 36px
	color #fff
	width 100%
	text-align center
	height 90px
	line-height 90px
	position relative
	i.icon-back{
		width 32px
		height 32px
		background url("../../assets/images/back.png") no-repeat center
		background-size 100% 100%
		position absolute
		top 50%
		left 20px
		margin 10px
		margin-top -25px
	}
}
