.order-trend
	margin-bottom 20px
	padding-top 20px
	background-color #fff
	.ratio-list
		display flex
		background #fff
		padding 0
		li
			flex 1
			display flex
			flex-direction column
			position relative
			span
				font-size 24px
				margin-top 10px
				color #333333
			em
				height 70px
				line-height 70px
				margin-top 20px
				font-size 49px
				color #05ACFF
				display flex
				justify-content center
				align-items center
	.line1:after{
		position absolute
		top 50%
		margin-top -40px
		right 0
		width 2.1px
		height 84px
		content ''
		background-color #EEE
	}
	.active-link
		font-size 26px
		color #818D9D
		display flex
		align-items center
		justify-content flex-end
		padding 20px 0 40px
		background #fff
		i
			margin-top 2px
			margin-left 20px
	.live-title
		color #818D9D
		font-size 26px
		margin-top 30px
		text-align left
		padding-left 24px
