.come-active{
	margin-top 90px
	display block
	width 100%
}
.art{
	margin-top -160px
	font-size 24px
	display block
	font-family DFYuanW7-A
	color rgba(102,102,102,1)
	letter-spacing 4px
}
.art-font{
	width 512px
	height 92px
	margin auto
	margin-top -140px
	margin-bottom 50px
	display block
	font-size 30px
	font-weight bold
	color rgba(33,170,217,1)
	line-height 48px
	letter-spacing 2px
}
.active-herder{
	width 100%
	height 60px
	display flex
	font-size 24px
	align-items center
	justify-content space-between
	color rgba(33,170,217,1)
	span{
		width 150px
		line-height 60px
	}
	span:nth-child(1) {
		width 180px
		margin-left 23px
		letter-spacing 20px
	}
	span:nth-child(4) {
		width 150px
		margin-right 20px
	}
}
.odd {
	background rgba(242,243,245,1)
}
.active-tab{
	width 100%
	display flex
	font-size 20px
	flex-direction column
	justify-content space-between
	color rgba(0,0,0,1)
	background #fff
}
.active-tab li {
	display flex
	align-items center
	justify-content space-between
	height 60px
	line-height 60px
}
.active-tab li span {
	width 150px
	display table-cell
	vertical-align middle
	align-items center
	justify-content center
}
.active-tab li span:nth-child(3){
	position relative
 }
.active-tab li span i {
	width 28px
	height 30px
	display inline-block
	position absolute
	right 10px
	top 10px
	background-size 100%
	background-image url(../../assets/images/icon-zan.png)
}
.active-tab li span:nth-child(1) {
	width 180px
	overflow hidden
	text-overflow ellipsis
	white-space nowrap
	display inline-block
	text-align center
	margin-left 23px
}
.active-tab li span:nth-child(4) {
	width 150px
	margin-right 20px
}
.activate-text{
	width 100%
	text-align center
	font-size 24px
	font-family DFYuanW7-A
	color rgba(33,170,217,1)
	margin 30px 0
}
.action{
	width 100%
	display flex
	flex-direction column
	justify-content center
	.icon-jh{
		width 90px
		height 90px
		display block
		margin auto
		background-image url("../../assets/images/icon_jh.png")
		background-size 100%
	}
	span{
		font-size 18px
		margin-top 10px
		color rgba(102,102,102,1)
		text-decoration underline
	}
}
.bottom{
	width 100%
	height 90px
	display flex
	position fixed
	left 0
	bottom 0
}
._bottom{
	width 100%
	height 90px
	background-color #fff
	margin-top 30px
}
.bottom li {
	flex 1
	height 90px
	line-height 90px
	text-align center
	font-size 36px
	font-family Yuanti SC
	color rgba(153,153,153,1)
	background rgba(243,244,248,1)
}
.bottom .sub{
	color rgba(243,244,248,1)
	background rgba(111,211,121,1)
}
.have-no-data{
	width 318px
	height 251px
	display block
	margin auto
	margin-top 30px
}
// 活动来了

.art-font-come{
	font-size 26px
	font-family DFFangYuanW7-GB
	font-weight bold
	color rgba(33,170,217,1)
	line-height 48px
	letter-spacing 2px
	display block
	margin auto
	margin-top -165px
	margin-bottom 30px
	width 70%
	text-align left
}
.come-text{
	font-size 24px
	font-family DFYuanW7-A
	color rgba(87,23,16,1)
	letter-spacing 4px
	font-weight bold
}
.come-text li{
	width 100%
	line-height 60px
	position relative
	margin auto
}
.come-text li div {
	width 425px
	text-align left
	margin auto
}
.come-text li i {
	width 30px
	height 30px
	margin 0 5px
	display inline-block
	background-size 100%
	position relative
	top 5px
}
.come-text li:nth-child(1) i {
	background-image url("../../assets/images/icon_one.png")
}
.come-text li:nth-child(2) i {
	background-image url("../../assets/images/icon_two.png")
}
.come-text li:nth-child(3) i {
	background-image url("../../assets/images/icon_three.png")
}
.come-text li:nth-child(4) span{
	color rgba(255,25,0,1)
}
.come-text li:nth-child(4) {
	margin 30px 0 50px
	line-height 40px
}
.come-text li:nth-child(4) div {
	width 9rem
	text-align left
	margin auto
}
.rule {
	width 675px
	height 80px
	line-height 80px
	margin auto
	background rgba(255,180,2,1)
	font-size 25px
	font-family Yuanti SC
	font-weight bold
	border-radius 40px
	color rgba(255,255,255,1)
	margin-bottom 40px
	letter-spacing 3px
}
.rule1 {
	width 675px
	height 80px
	line-height 80px
	margin auto
	background #dcdcdc
	font-size 21px
	font-family Yuanti SC
	border-radius 40px
	color #888888
	margin-bottom 40px
}
.teacher-how{
	width 723px
	margin auto
	margin-top 30px
	overflow hidden
	background rgba(242,243,245,1)
	.how-top{
		width 280px
		height 60px
		font-size 30px
		border-radius 40px
		font-family DFYuanW7-A
		color rgba(255,255,255,1)
		line-height 60px
		margin 30px 30px 20px
		background rgba(33,170,217,1)
	}
	.how-action{
		font-size 24px
		font-family DFYuanW7-A
		color rgba(93,93,93,1)
		line-height 60px
		i{
			width 30px
			height 28px
			display inline-block
			margin 0 20px
			position relative
			top 0
			background-size 100%
			background-image url("../../assets/images/icon-jiantou.png")
		}
	}
	.how-bom{
		font-size 24px
		float right
		margin-right 20px
		margin-bottom 20px
		font-family DFYuanW7-A
		text-decoration underline
		color rgba(33,170,217,1)
		line-height 60px
		position relative
		top 0
	}
}
.active ._header {
	position fixed
	top 0
	left 0
	z-index 99
}
