.bm-champion
	width 750px
	height 435px
	display flex
	flex-direction column
	align-items center
	justify-content center
	position relative
	overflow hidden
	.bm-bg
		-webkit-filter blur(10px) /* Chrome, Safari, Opera */
		height 435px
	.champion
		width 750px
		height 435px
		display flex
		flex-direction column
		align-items center
		justify-content center
		position absolute
		top 0
		left 0
		z-index 22
		p
			font-size 32px
			color #fff
			margin-bottom 20px
		.nm-p
			margin-bottom 12px
		span
			font-size 24px
			color #fff
		.tx-bg
			width 244px
			height 160px
			display flex
			justify-content center
			background url("../../assets/images/icon_tx.png")
			background-size 100% 100%
			margin-bottom 20px
			position relative
			img
				width 126px
				height 126px
				border-radius 100% 100%
				position absolute
				bottom 5px
.bm-champion:after
	content ''
	position absolute
	left 0
	top 0
	width 750px
	height 435px
	background-color rgba(0,0,0,0.3)
.right
	display flex
	align-items center
	i
		margin-right 10px
.bg1
	width 90px
	height 40px
	line-height 40px
	background url(../../assets/images/aixin1.png) no-repeat
	background-size 100% 100%
	font-size 25px
	color white
	text-align right
	padding-right 20px
.bg2
	width 80px
	height 28px
	background url(../../assets/images/aixin2.png) no-repeat
	background-size 100% 100%
	font-size 25px
	color white
.bg3
	width 80px
	height 28px
	background url(../../assets/images/aixin3.png) no-repeat
	background-size 100% 100%
	font-size 25px
	color white
