.search
	border-bottom 2.1px solid #eee
	.search-input
		width 85% !important
	.screen
		width 37px
		height 40px
		margin-right 3%
		display block
.active-text
	height 125px
	background #FFF6CF
	padding-top 15px
	display flex
	align-items 125px
	justify-content space-between
	.p-text
		font-size 26px
		color #CB730C
		text-align left
		padding-left 30px
.from-table
	.from-li
		height: 110px;
		color: #333333;
		padding-left: 30px;
		font-size: 30px
		.li-index
			width: 30px
			display: inline-block
			text-align: center
			float: left;
			color: #818D9D;
		.li-center
			flex 1;
			display: flex
			flex-direction column
			margin-left 30px
			.center-top
				line-height 40px
				margin-top 3px
				font-family Arial
				.serial
					text-align: left
					float left
					margin-right 30px
				.school-name
					float left
					width: 250px;
					text-align: left
					overflow: hidden
					text-overflow: ellipsis
					white-space:nowrap
			.center-bottom
				line-height 40px
				.school-bottom
					float left
					margin-right 30px
					font-size: 24px;
					color: #698FCB;
		.li-right
			display flex
			align-items center
			.radio
				margin-right: 40px
				float: left
		.school-radio
			color: #FF5E68
	.active-li
		height 88px
//活跃列表样式
.li-serial
	text-align: left
	float left
	font-family Arial
	margin 0 30px
.li-school
	flex 1
	.school-name
		float left
		width: 250px;
		text-align: left
		overflow: hidden
		text-overflow: ellipsis
		white-space:nowrap
// 付费报表
.header-table
	background-color #fff
	width 100%
	height 70px
	display flex
	align-items center
	justify-content space-between
	font-size 28px
	color #818D9D
	border-bottom 2.1px solid #eee
	.header-span
		width 180px
		text-align left
		margin-left 70px
	.last-time
		flex 1
		text-align right
	.next-time
		width 305px
		display flex
		justify-content flex-end
		.icon-answer
			margin 4px 60px 0 10px
.from-table
	.play-li
		height 120px
		font-size 28px
		color #818D9D
		.li-index
			width 70px
			text-align center
			display block
		.li-info
			width 180px
			display flex
			align-items center
			flex-direction column
			span
				text-align left
				width 180px
				height 40px
				line-height 40px
				display block
			.school-name
				overflow hidden
				text-overflow ellipsis
				white-space nowrap
			.school-id
				font-size: 24px
				color #BBBBBD
		.last-time
			flex 1
			text-align right
		.next-time
			width 250px
			display flex
			justify-content flex-end
			align-items center
			.icon-answer
				margin 4px 60px 0 10px
		.school-radio
			color #FF5E68
		.icon-right
			margin-left 20px
// 历史排行榜
.history-list
	font-size 28px
	color: #333
	.history-left
		margin-left 30px
		font-family Arial
	.history-right
		flex 1
		display flex
		align-items center
		justify-content space-between
		.name-str
			margin-left 40px
			text-overflow ellipsis
			overflow hidden
			display inline-block
			text-align left
			width 400px
			white-space nowrap
.newhistory-list
	display flex
	color #333
	padding 10px 0
	.logo
		width 80px
		height 80px
		border-radius 100% 100%
		margin 20px 20px
	.mid-content
		flex 1
		line-height 40px
		flex-direction column
		align-items center
		text-align left
		span
			margin-right 20px
			font-size 28px
		p
			font-size 24px
			color #818D9D
			max-width 440px
			overflow hidden
			text-overflow ellipsis
			white-space nowrap
// 规则样式
.rule-bd
	padding 30px
	background-color #fff
	p
		font-size: 28px;
		color: #818D9D;
		line-height: 40px
		text-align left
		margin-bottom: 20px
