.main
	.banner
		width 100%
		height 236px
		padding 30px 0
		background #ffffff
		img
			width 710px
			height 236px
			border-radius 16px
			object-fit cover
	.default_img
		width 710px
		height 236px
		padding 30px 20px
	.active_tab_text
		width 100%
		box-sizing border-box
		font-size 28px
		color #818D9D
		height 220px
		background #fff
		.active_text
			height 140px
			padding-left 20px
			width 85%
			background #fff
			text-align left
		.right
			width 11px
			height 20px
			float right
			margin-top -120px
			margin-right 30px
	.action-dl
		background-color #ffffff
		overflow hidden
		display table
		width 100%
		height 450px
		margin-bottom 20px
		.home-p
			font-size 28px
			color #818D9D
			text-align left
			padding-left 20px
			margin-bottom 30px
			background-color #ffffff
			span
				max-width 320px
				overflow hidden
				text-overflow ellipsis
				white-space nowrap
				float left
				display inline-block
		.home-dl
			float left
			width 187.5px
			margin-bottom 30px
			position relative
			._dt
				width 187.5px
				border-radius 50%
				display table-cell
				img
					display block;
					margin-left 48px
					width 90px
					height 90px
			._dd
				width 187.5px
				font-size 26px
				text-align center
				color #333333
				height 60px
				line-height 60px
				white-space nowrap
			._mark
				position absolute
				display none
				left 110px
				top 0
				padding 2px 16px
				background #f00
				color #fff
				border-radius 40px
			.menu-block
				display block
	.button
		width 100%
		height 88px
		border-radius 100px
		text-align center
		background-color #f2f3f5
		color #74A9FF
		font-size 34px
		margin 20px 0
	.class_week-ratio
		background #fff
		margin-bottom 20px
		padding-bottom 30px
		position relative
		.spr-left
			position relative
			z-index 9999
		.week-ratio-info
			font-size 28px
			color #818D9D
			display flex
			flex-direction: row
			justify-content space-between
			padding 0 30px
			align-items center
			.week-ratio-info-left
				flex-direction: column
				display flex
				align-items flex-start
				span:nth-child(2)
					margin-top 10px
				em
					color #FF5E68
					margin 0 8px
					font-weight bold
			.right
				width 11px
				height 20px
.banner .mint-swipe
	border-radius 10px !important
.banner .mint-swipe-indicator
	width 12px !important
	height 12px !important
	opacity 0.6  !important
	background-color #ffffff  !important
.banner .is-active
	background-color #ffffff  !important
	opacity:1  !important
.action .mint-swipe-indicators
	bottom 90px !important
.action .mint-swipe-indicator
	width 20px !important
	height 4px !important
	opacity 1 !important
	background #D4D8DE !important
	border-radius 2px
.action .mint-swipe-indicators .is-active
	background #00AAFF !important
	opacity 1 !important
